<mat-drawer-container class="example-container">
  <mat-drawer class="mat-drawer-custom" mode="side" opened>
    <app-photo-container></app-photo-container>
    <app-navigator-tree></app-navigator-tree>
    <div>
      <p class="footext">
        Copyright &#64;2025 All rights reserved. | This template is made by <a href="https://www.kingsrl.com/">KING Company s.r.l.</a>
      </p>
    </div>
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content-custom"> 
    <app-content-side></app-content-side>
  </mat-drawer-content>
</mat-drawer-container>