<mat-toolbar>
    <button mat-icon-button class="example-icon button-custom"  
      aria-label="Toggle sidebar" (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <nav>
      <a class="a1" routerLink="home" routerLinkActive="active" (click)="onNavigate('home')">Home</a>
      <a class="a1" routerLink="about" routerLinkActive="active" (click)="onNavigate('about')">About</a>
      <a class="a1" routerLink="pages" routerLinkActive="active" (click)="onNavigate('pages')">Pages</a>
      <a class="a1" routerLink="portfolio" routerLinkActive="active" (click)="onNavigate('portfolio')">Portfolio</a>
      <a class="a1" routerLink="contact" routerLinkActive="active" (click)="onNavigate('contact')">Contact</a>
    </nav>
    
</mat-toolbar>