 <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
     <!-- This is the tree node template for leaf nodes  -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
       <!-- use a disabled button to provide padding for tree leaf  -->
      <!-- <button mat-icon-button type="button" aria-label="Toggle Node"  disabled></button> -->
       <nav>
        <a class="a2" [routerLink]="node.route" routerLinkActive="active">{{node.name}}</a>
       </nav>
      
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes  -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle 
      [cdkTreeNodeTypeaheadLabel]="node.name">
                    
      
      <nav><a class="a2" [routerLink]="node.route" routerLinkActive="active">{{node.name}}</a></nav>
      <mat-icon class="mat-icon-rtl-mirror">
          {{ isNodeExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
      
    </mat-tree-node>
  </mat-tree> 