<mat-drawer-container class="example-container">
  <!-- SideBar -->
  <mat-drawer #drawer class="mat-drawer-custom" mode="side" [opened] = "false">
  <app-photo-container></app-photo-container>
  <app-navigator-tree></app-navigator-tree>
  <div class="foobar">
    <p class="footext">
      Copyright &#64;2025 All rights reserved. | This template is made by <a class="aYellow" href="https://www.kingsrl.com/">KING Company s.r.l.</a>
    </p>
  </div>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content class="mat-drawer-content-custom container">
    <app-toolbar 
      (toggleSidebar)="drawer.toggle()" 
      (navigationChange)="onNavigationChange($event)"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>