.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  border: 1px solid black;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #FAFAFA;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}